<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basic Layout</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="head"><br><br>
        <h1>Welcome to my Website!</h1>
    </div>
    <div class="nav">
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Services</a>
        <a href="#">Products</a>
        <a href="#">Contact</a>
    </div>
    <section>
        <div class="left">
            <div class="menu">
                <h2><img src="/img/pencil.png" height="20px" width="20px" style="padding: 0 10px;">Main Menu</h2><br>
                <div style="border: 2px solid grey; width: 65%;padding: 10px;">
                <ul>
                    <li><a href="#">Menu Item 1</a></li>
                    <li><a href="#">Menu Item 2</a></li>
                    <li><a href="#">Menu Item 3</a></li>
                    <li><a href="#">Menu Item 4</a></li>
                    <li><a href="#">Menu Item 5</a></li>
                    <li><a href="#">Menu Item 6</a></li>
                    <li><a href="#">Menu Item 7</a></li>
                    <li><a href="#">Menu Item 8</a></li>
                    <li><a href="#">Menu Item 9</a></li>
                    <li><a href="#">Menu Item 10</a></li>
                </ul>
            </div>
            </div><br><br>
            <div class="block">
                <h2><img src="/img/pencil.png" height="20px" width="20px" style="padding: 0 10px;">Block</h2><br>
                <div style="border: 2px solid grey; width: 65%;padding: 15px;">
                <p>
                    Enter Block content here <br><br>
                    Lorem ipsum dolor sit amet, <br>
                    consectetuer adipiscing elit <br>
                    Aenean commodo Lorem <br>
                    ipsum dolor sit amet, <br>
                    consectetuer adipiscing elit <br>
                    Aenean commodo Lorem.
                </p>
            </div>
            </div>
        </div>
        <div class="right">
            <h2 style="color: rgb(52, 52, 138); margin: 10px 0;">Gallery</h2>
            <hr> <br>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo officia quibusdam repudiandae alias,
                dignissimos porro assumenda eos soluta quia dolor recusandae exercitationem tempore, voluptates commodi
                doloremque, eligendi et voluptas error!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus veniam, quod nobis doloremque hic
                sit excepturi placeat laudantium alias harum error. Consequuntur est nemo unde facere omnis, laboriosam
                at. Distinctio.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus expedita reprehenderit repellendus
                numquam dicta distinctio magni iste. Nemo neque vitae praesentium autem rem! Voluptatibus adipisci quos
                id, neque reprehenderit odit!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, ipsam! Fugit reiciendis, ipsa vitae
                atque voluptatum.
            </p><br>
            <a href="#" style="color: green; font-size: 15px;">Read more</a>
            <br><br>
            <hr><br>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo officia quibusdam repudiandae alias,
                dignissimos porro assumenda eos soluta quia dolor recusandae exercitationem tempore, voluptates commodi
                doloremque, eligendi et voluptas error!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus veniam, quod nobis doloremque hic
                sit excepturi placeat laudantium alias harum error. Consequuntur est nemo unde facere omnis, laboriosam
                at. Distinctio.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus expedita reprehenderit repellendus
                numquam dicta distinctio magni iste. Nemo neque vitae praesentium autem rem! Voluptatibus adipisci quos
                id, neque reprehenderit odit!
            </p><br>
            <ul>
                <li>adipisicing elit. Quo officia quibusdam repudiandae alias, dignissimos porro assumenda eos soluta
                    quia dolor</li>
                <li>consectetur adipisicing elit.</li>
                <li>adipisicing elit. Aenean commodo ligula</li>
                <li>adipisicing elit. Beatae officiis consequuntur placeat</li>
                <li>adipisicing elit. Quo officia quibusdam repudiandae alias, dignissimos porro assumenda eos soluta
                    quia dolor</li>
                <li>adipisicing elit. Quo officia quibusdam repudiandae alias, dignissimos porro assumenda eos soluta
                    quia dolor</li>
            </ul>
        </div>
    </section>
    <br><br><br>
    <hr><br><br><br>
    <footer>
        <p>Copyright @2025. | By Pavithra dharshini</p>
    </footer>
    <br><br><br>
</body>

</html>