* {
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
}
.sticky {
    display: flex;
    justify-content: space-between;
    font-size: 23px;
    font-weight: bold;
    background-color: black;
    box-shadow: 0 0 30px black;
    color: white;
    padding: 20px 30px;
    position: sticky;
    z-index: 1000;
    top: 0;
}
.sticky ul {
    width: 50%;
    display: flex;
    justify-content: space-around;
    list-style: none;
}
.sticky ul a{
    color: white;
    text-decoration: none;
} 
.position {
    height: 200vh;
    padding-bottom: 50px;
}
.static  {
    position: static;
    background: url('./static.jpg');
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 10%;
    background-size: cover;
    font-size: 27px;
    padding-top: 20px;
    margin-bottom: 8%;
}
.static h1 {
    margin-top: 20px;
    margin-left: 120px;
}
.fixed {
    position: fixed;
    bottom: 20px;
    right: 10px;
    filter: drop-shadow(7px 10px 7px black);
}
.relative {
    background: url('/relative.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: white;
    height:75%;
    width: 88%;
    border-radius: 50px;
    position: relative;
    left: 80px;
}
.absolute {
    background-color: white;
    border-radius: 50px;
    box-shadow: 0 0 30px black;
    height: 80%;
    width: 75%;
    position: absolute;
    top: 11%;
    left: 12%;
}
.absolute .img1 {
    position: absolute;
    top: 15%;
    left: 10%;
}
.absolute .img2 {
    position: absolute;
    top: 15%;
    right: 10%;
}
.absolute .img3 {
    position: absolute;
    top: 40%;
    left: 10%;
}
.absolute .img4 {
    position: absolute;
    top: 40%;
    right: 10%;
}
.absolute .img5 {
    position: absolute;
    top: 65%;
    left: 10%;
}
.absolute .img6 {
    position: absolute;
    top: 65%;
    right: 10%;
}
.absolute img {
    border-radius: 20px;
}
.absolute img:hover {
    box-shadow: 0 0 40px black;
    transition: .3s;
    transform: scale(1.1);
}

/* Flex box section */

.flexbox {
    height: 120vh;
    background-color: lightgray;
    padding-top: 8%;
    box-shadow: 0 0 20px black inset;
    padding-bottom: 70px;
}
.flexbox h1 {
    font-size: 40px;
    margin-bottom: 50px;
    text-align: center;
}
.gallery {
    display: flex;
    flex-wrap: wrap;           /* Allow items to wrap to the next line */
    justify-content: space-between; /* Distribute items evenly with space between */
    gap: 20px;                 /* Space between items */
    padding: 50px;
    background-color: whitesmoke;
    border-radius: 15px;
    box-shadow: 0 0 20px black;
    width: 75%;
    height: 75%;
    margin: 20px auto;
  }
 .image {
    background-color: lightgray;
    height: 250px;
 }
 .image img {
    height: 200px;
    width: 250px;
 } 
 .image img:hover {
    transform: scale(0.8);
    transition: .5s;
    border-radius: 15px;
 }
 .image p {
    text-align: center;
    margin-top: 10px;
 }
   
/* grid section */
.grid {
    background-color: lightgray;
    padding-top: 8%;
    padding-bottom: 70px;
}
.grid h1 {
    font-size: 40px;
    margin-bottom: 50px;
    text-align: center;
}
.gallery1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    grid-auto-flow: dense;
    gap: 15px;
    width: 80%;
    margin: auto;
    background-color: white;
    box-shadow: 0 0 15px black;
    padding: 15px;
}

.gallery1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery1 img.four-grid-cells {
    grid-row: span 2 / auto;
    grid-column: span 2 / auto;
}

.gallery1 img.wide-image {
    grid-column: span 2 / auto;
}
 